# Ignore node_modules directory
node_modules/

# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Django-specific
*.log
db.sqlite3
media/

# Ignore the virtual environment
venv/
env/

# Ignore IDE specific files
.idea/
.vscode/
*.swp

bot/bot_token.py
